<p>We are happy to share this information with you,
that you are invited as a Facilitator of class {{ submitted_data['class_name'] }}.
</p>
<p><a href="{{ submitted_data['accept_link'] }}">Accept</a></p>
